{% extends "layout.html" %} {% block title %} Change Password {% endblock %} {%
block main %}
<form action="/password" method="post" id="passwordForm">
    <div class="mb-3">
        <input
            autocomplete="off"
            autofocus
            class="form-control mx-auto w-auto"
            name="old_password"
            placeholder="Old Password"
            type="password"
            required
        />
    </div>
    <div class="mb-3">
        <input
            class="form-control mx-auto w-auto"
            name="new_password"
            placeholder="New Password"
            type="password"
            required
            id="change-password"
        />
    </div>
    <div class="mb-3">
        <input
            class="form-control mx-auto w-auto"
            name="confirm_password"
            placeholder="Repeat Password"
            type="password"
            required
            id="change-confirmation"
        />
        <div
            id="changePasswordAlert"
            class="alert alert-danger mt-2 mx-auto w-auto"
            style="display: none"
            role="alert"
        >
            <!-- Error message will be inserted here -->
        </div>
    </div>
    <button class="btn btn-primary" type="submit" id="changeSubmitBtn">
        Change Password
    </button>
</form>
{% endblock %}
